<script>
	import pokemonStore from "../stores/pokemons.store.js";

	const firstLetterUpper = str => {
	  return str.charAt(0).toUpperCase() + str.slice(1);
	};
</script>

<style>
	.table td {
	  vertical-align: middle;
	}
</style>

<table class="table table-striped mt-5">
  <thead class="thead-dark">
	<tr>
		<th>#</th>
		<th>Sprite</th>
		<th>Name</th>
		<th>Type</th>
	</tr>
  </thead>
  <tbody>
	{#each $pokemonStore as pokemon}
		<tr>
			<td>{pokemon.id}</td>
			<td>
				<img src={pokemon.sprites.front_default} alt="{pokemon.name} front sprite"/>
			</td>
			<td>{firstLetterUpper(pokemon.name)}</td>
			<td>{firstLetterUpper(pokemon.types[0].type.name)}</td>
		</tr>
	{/each}
  </tbody>
</table>