<script>
	import PokemonInput from './components/pokemonInput.svelte';
	import PokemonTable from './components/pokemonTable.svelte';
	export let name;
</script>

<style>
</style>

<div class='container pt-5'>
	<PokemonInput/>
	<PokemonTable/>
</div>;
